extends landing

section
  user({name,username})
  h2 Search
  form(action='/search/', method='GET')
    input(type='text', name='query', value='${query}')
    button(type='submit') Search
  
  if(results)
    results({results})  



//-   ${results? Results({results}):''}
