.leftIcon 
    position: absolute
    z-index: 1

.leftIcon ul li
    position: relative

.leftIcon ul li a 
    background: #000000 none repeat scroll 0 0
    border-bottom: 1px solid #333333
    display: block
    padding: 12px 9px
    text-align: center
    width: 30px
    height: 30px
    text-align: center

.leftIcon ul li:hover > a 
    background :#448b00

.leftIcon ul li:hover > a i 
    color: #222222 

.leftIcon ul li a i
    font-size: 27px
    color: #c0c0c0 
 
.righticon 
    left: auto 
    position: fixed
    right: -270px
    width: 300px
    z-index: 1
    color:  #c0c0c0
.h1miniCartCont 
    background: #222
    color: #c0c0c0
    display: block
    padding: 15px
    right: 0
    text-align: left
    top: 0
    width: 270px
    z-index: 99

.righticonin > a 
    background: #222222
    display: block
    height: 20px
    padding: 15px
    text-align: center
    width: 20px
    position: absolute
    left: -20px
    color: #c0c0c0

