.header__form
    width: 80%
ul, ol 
    list-style: none
        
.nav
    font-weight: 200
    font-size: 14px        

.nav > li 
    float: left
    font-family: 'Oswald', sans-serif
    
        
.nav li a 
  
    color: #cccccc
    text-decoration: none
    padding: 10px 12px
    display: block
    background-color: #222

.nav li a:hover 
    background-color:#434343
        
        
.nav li ul 
    display: none
    position: absolute
    min-width:140px
    background-color: #222   
        
.nav li:hover > ul 
    display: block
        
        
.nav li ul li 
    position: relative
   
        
        
.nav li ul li ul 
    right:-140px
    top:0px


.header__form
    width: 100%
    border: 2px solid #444444
    background-color: #222
    
    &__input
        width: 85%
        height: 40px
        background-color: #222
        border: none
        color: white
        border-left: 1px solid #444444

    &__button
        background: none
        border: none
        color: #cccccc