.banner-form 
	width: 90%
	margin: 0 auto

.bodyLand
	margin: 0
	padding: 0


.landing__section 
	width: 80%
	margin: 0 auto
	padding-top: 9em
	position: relative
	font-family: 'Poppins', sans-serif


.landing__section h3 
	font-size: 4em
	color: #fff
	font-weight: 700
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37)
	letter-spacing: 1px
	margin: 0

.landing__section h4 
	letter-spacing: 2px
	line-height: 1.2em
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37)
	font-size: 2em
	font-weight: 100
	margin-bottom: 1em
	color: #fff




.landing
	background-image: url(./img/landingPage.jpg)
	background-size: cover
	background-repeat: no-repeat
	height: 100vh

	&__container
		font-size: 3em
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.36)
		color: #fff
		margin: 0
		font-weight: 700
		font-family: 'Poppins', sans-seri
		padding: 1em 0 0 0
		text-align: center

	&__buttons
		&__sails
			background-color: #eb2941c2
			position: relative
			padding: 13px 57px
			color: #fff
			font-size: 14px
			text-decoration: none
			text-transform: uppercase
			letter-spacing: .08em
			border-radius: 20px
			text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2)
			transition: all 1s linear	
		&__sails:hover
			background-color:#EB2941
	
		&__start		
			background-color: #72aa3e
			position: relative
			padding: 13px 35px
			color: #fff
			font-size: 14px
			text-decoration: none
			text-transform: uppercase
			letter-spacing: .08em
			border-radius: 20px
			text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2)
			transition: all 1s linear	
			margin-left: 40px

		&__start:hover
			background-color: #448b00
		