* {
  padding: 0px;
  margin: 0px;
}

.bodyLogin {
  background-image: backimg;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-family: sans-serif;
  height: 100vh;
}

.login-box {
  width: 320px;
  height: 420px;
  background: #0000008a;
  color: #fff;
  top: 50%;
  left: 30%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 70px 30px;
  box-sizing: border-box;
  border-radius: 10px;
}
.login-box__blogo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.login-box h1 {
  margin: 0;
  padding: 0 0 20px;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type=text], input[type=password] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.login-box input[type=submit] {
  border: none;
  outline: none;
  height: 40px;
  background: #448b00;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.login-box input[type=submit]:hover {
  background: #14cb14;
}

.login-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.login-box a:hover {
  color: #fff;
}

.bodyRegister {
  background-image: url(../img/bikeregister.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-family: sans-serif;
  height: 100vh;
}

.register-box {
  width: 320px;
  height: 575px;
  background: #0000008a;
  color: #fff;
  top: 50%;
  left: 30%;
  position: absolute;
  transform: translate(-50%, -50%);
  padding: 70px 30px;
  box-sizing: border-box;
  border-radius: 10px;
}
.register-box__blogo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.register-box h1 {
  margin: 0;
  padding: 0 0 20px;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
}

.register-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
}

.register-box input {
  width: 100%;
  margin-bottom: 20px;
}

.register-box input[type=text], input[type=password] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

.register-box input[type=submit] {
  border: none;
  outline: none;
  height: 40px;
  background: #448b00;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}

.register-box input[type=submit]:hover {
  background: #14cb14;
}

.register-box a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.register-box a:hover {
  color: #fff;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  background-color: #222;
}
.header__firstcontainer {
  display: flex;
  flex-grow: 1;
  background-color: #222;
  color: white;
  font-size: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 20px;
}
.header__firstcontainer a {
  text-decoration: none;
  color: white;
  padding-left: 5px;
}
.header__secondcontainer {
  display: flex;
  flex-grow: 6;
  background-color: red;
  justify-content: center;
  align-items: center;
  background-color: #222;
}
.header__thirdcontainer {
  display: flex;
  flex-grow: 1;
  background-color: green;
  color: #cccccc;
  font-size: 100%;
  justify-content: center;
  align-items: center;
  background-color: #222;
}
.header__thirdcontainer a {
  text-decoration: none;
  color: #cccccc;
}
.header__loginbutton {
  border: 2px solid #444444;
  margin-right: 5px;
  font-weight: 200;
  font-size: 14px;
  color: #cccccc;
  display: inline-block;
  padding: 10px 15px 12px;
  text-align: center;
  line-height: 0.8;
}
.header__registerbutton {
  border: 2px solid #444444;
  font-weight: 200;
  font-size: 14px;
  color: #cccccc;
  display: inline-block;
  padding: 10px 10px 12px;
  text-align: center;
  line-height: 0.8;
}
.header__registerbutton:hover {
  background-color: #898b00;
}
.header__loginbutton:hover {
  background-color: #448b00;
}

.header__form {
  width: 80%;
}

ul, ol {
  list-style: none;
}

.nav {
  font-weight: 200;
  font-size: 14px;
}

.nav > li {
  float: left;
  font-family: "Oswald", sans-serif;
}
.nav > li__categories {
  color: #cccccc;
  text-decoration: none;
  padding: 6px 12px;
  display: block;
  background-color: #222;
}

.nav li a:hover {
  background-color: #434343;
}

.nav li ul {
  display: none;
  position: absolute;
  min-width: 140px;
  background-color: #222;
}

.nav li:hover > ul {
  display: block;
}

.nav li ul li {
  position: relative;
}

.nav li ul li ul {
  right: -140px;
  top: 0px;
}

.header__form {
  width: 100%;
  border: 2px solid #444444;
  background-color: #222;
}
.header__form__input {
  width: 85%;
  height: 40px;
  background-color: #222;
  border: none;
  color: white;
  border-left: 1px solid #444444;
}
.header__form__button {
  background: none;
  border: none;
  color: #cccccc;
}

.footer {
  display: flex;
  width: 100%;
  height: 200px;
  font-family: "Oswald", sans-serif;
  background-color: #222;
  flex-direction: column;
}

.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 80%;
  width: 100%;
  background: #111111;
  color: white;
}
.footer__top__container {
  width: 33.3%;
  padding: 40px;
}
.footer__top__container h2 {
  border-bottom: 1px solid #444444;
  text-align: center;
  font-size: 15px;
  font-weight: 300;
}
.footer__top__container__social {
  text-align: center;
  justify-content: space-evenly;
  display: flex;
  padding-top: 15px;
}
.footer__top__container__social a {
  color: #666666;
}
.footer__top__container p {
  font-size: 14px;
  color: #666666;
  padding: 10px;
}

.footer__down {
  display: flex;
  justify-content: center;
  font-size: 14px;
  color: #666666;
  height: 20%;
  align-items: center;
  background: #222222;
}
.footer__down a {
  text-decoration: none;
}

.ttcontactinfo {
  font-size: 14px;
}

.toggle-footer {
  color: #666666;
  padding: 10px;
}
.toggle-footer span a {
  color: #666666;
  font-size: 15px;
}

.leftIcon {
  position: absolute;
  z-index: 1;
  position: fixed;
}

.leftIcon ul li {
  position: relative;
}

.leftIcon ul li a {
  background: #000000 none repeat scroll 0 0;
  border-bottom: 1px solid #333333;
  display: block;
  padding: 5px 8px;
  text-align: center;
  width: 20px;
  height: 20px;
  text-align: center;
}

.leftIcon ul li:hover > a {
  background: #448b00;
}

.leftIcon ul li:hover > a i {
  color: #222222;
}

.leftIcon ul li a i {
  font-size: 15px;
  color: #c0c0c0;
}

.righticon {
  left: auto;
  position: fixed;
  right: -270px;
  width: 300px;
  z-index: 1;
  color: #c0c0c0;
}

.h1miniCartCont {
  background: #222;
  color: #c0c0c0;
  display: block;
  padding: 15px;
  right: 0;
  text-align: left;
  top: 0;
  width: 270px;
  z-index: 99;
}

.righticonin > a {
  background: #222222;
  display: block;
  height: 20px;
  padding: 15px;
  text-align: center;
  width: 20px;
  position: absolute;
  left: -20px;
  color: #c0c0c0;
}

.body-search {
  display: flex;
  argin-right: auto;
  margin-left: auto;
}

.future-breadcramp {
  height: 10vh;
}

.results-container {
  padding-left: 70px;
}
.results-container__sponsor {
  padding-left: 65px;
}

.results-container__sponsor img {
  height: 60vh;
  width: 86%;
}
.results-container__sponsor img__elements {
  background-color: blue;
  width: 76%;
}

.filters {
  background-color: #eeeeee;
  margin-left: 100px;
  width: 300px;
}

.banner-form {
  width: 90%;
  margin: 0 auto;
}

.landing__section {
  width: 80%;
  margin: 0 auto;
  padding-top: 9em;
  position: relative;
  font-family: "Poppins", sans-serif;
}

.landing__section h3 {
  font-size: 4em;
  color: #fff;
  font-weight: 700;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
  letter-spacing: 1px;
  margin: 0;
}

.landing__section h4 {
  letter-spacing: 2px;
  line-height: 1.2em;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
  font-size: 2em;
  font-weight: 100;
  margin-bottom: 1em;
  color: #fff;
}

.landing {
  background-image: url(../img/landingPage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.landing__container {
  font-size: 3em;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.36);
  color: #fff;
  margin: 0;
  font-weight: 700;
  font-family: "Poppins", sans-seri;
  padding: 1em 0 0 0;
  text-align: center;
}
.landing__buttons__sails {
  background-color: #eb2941c2;
  position: relative;
  padding: 13px 57px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  border-radius: 20px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s linear;
}
.landing__buttons__sails:hover {
  background-color: #EB2941;
}
.landing__buttons__start {
  background-color: #72aa3e;
  position: relative;
  padding: 13px 35px;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  border-radius: 20px;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s linear;
  margin-left: 40px;
}
.landing__buttons__start:hover {
  background-color: #448b00;
}

body {
  font-family: "Oswald", sans-serif;
  margin-top: 15vh;
}

h2 {
  text-align: center;
}

.formadmin {
  width: 50%;
  margin: auto;
  height: 60vh;
  border: 3px solid #f1f1f1;
}

input[type=text] {
  border: none;
  border-bottom: 1px solid #9e9e9e;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

input[type=password] {
  border: none;
  border-bottom: 1px solid #9e9e9e;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 20px;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 15%;
  border-radius: 50%;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.container-inputs {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.button {
  background-color: #448b00;
  border-radius: 10px;
}

.container-links {
  display: flex;
  justify-content: space-evenly;
}

.container-links a {
  text-decoration: none;
}

.container-item {
  background-color: grey;
  display: flex;
  width: 700px;
}
.container-item__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 15px;
}
.container-item__image img {
  max-width: 400px;
}
.container-item__discounted {
  color: #f47070;
}
.container-item__prices {
  display: flex;
  justify-content: space-between;
}
.container-item__tocart {
  display: inline-block;
}
.container-item__tocart a {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  background: #222222;
  display: inline-block;
  padding: 10px 33px;
  height: 30px;
  text-decoration: none;
}
.container-item__tocart a:hover {
  background: #14cb14;
  color: #222;
}

/*# sourceMappingURL=style.css.map */
