.bg-modal-alert-logged 
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.6)
  position: fixed
  top: 0
  display: flex
  justify-content: center
  align-items: center
  z-index: 5


.modal-content-alert-logged-out 
  position: relative
  max-width: 50%
  background-color: white
  text-align: center
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column

  max-height: 100%
  overflow-x: hidden
  overflow-y: auto
  height: 200px
  width: 300px
  z-index: 6


.nav-modal-alert-logged-out 

  height: 35px
  width: 101%
  background-color: #101010bd
  position: absolute
  top: 0
  color: white
  display: flex
  justify-content: center
  align-items: center
  font-size: 10px
  overflow-x: hidden
  overflow-y: hidden
  font-family: "Oswald",sans-serif


.close-alert-logged 
  position: absolute
  top: -7px
  right: 5px
  font-size: 38px
  transform: rotate(45deg)
  color: white
  cursor: pointer


.button-ok-alert-logged-out 
  padding: 10px
  font-size: 10px
  margin: 20px
  color: white
  border-radius: 5px
  background-color: #448b00
  cursor: pointer
  width: 60%
  border: none
  margin-top: 40px
  font-family: "Oswald",sans-serif

.button-ok-alert-logged-retry 
  padding: 10px
  font-size: 10px
  margin: 20px
  color: white
  border-radius: 5px
  background-color: #8b0000
  cursor: pointer
  width: 60%
  border: none
  margin-top: 40px
  font-family: "Oswald",sans-serif  


.close-alert-back 
  position: fixed
  z-index: 4
  height: 100%
  width: 100%


.h3-content-logged 
  padding: 20px 40px 0px 40px
  font-size: 10px
  font-family: monospace

.modal-image 
  width: 50%
  height: auto
  margin-top: 40px

.logged-container
    display: flex
    width: 100%