.header
    display: flex
    justify-content: space-between
    width: 100%
    height: 10vh
    font-family: 'Oswald', sans-serif
    font-weight: bold
    background-color: #222
    
    &__firstcontainer
        display: flex
        flex-grow: 1
        background-color: #222
        color: white
        font-size: 100%
        justify-content: center
        align-items: center
        font-weight: 400
        font-size: 20px
        a
            text-decoration: none
            color: white
            padding-left: 5px

    &__secondcontainer
        display: flex
        flex-grow: 6
        background-color: red
        justify-content: center
        align-items: center
        background-color: #222

    &__form
        display: flex

        &__button
            align-self: center
            padding-right: 10px
        &__input
            width: 85%
            height: 35px
            background-color: #222    
    
    &__thirdcontainer
        display: flex
        flex-grow: 1
        background-color: green
        color:#cccccc
        font-size: 100%
        justify-content: center
        align-items: center
        background-color: #222
        a
            text-decoration: none
            color: #cccccc
    
    &__loginbutton
        border: 2px solid #444444
        margin-right: 5px
        font-weight: 200
        font-size: 14px
        color:#cccccc
        display: inline-block
        padding: 10px 15px 12px
        text-align: center
        line-height: 0.8

    &__registerbutton
        border: 2px solid #444444
        font-weight: 200
        font-size: 14px
        color: #cccccc
        display: inline-block
        padding: 10px 10px 12px
        text-align: center
        line-height: 0.8

    &__registerbutton:hover
        background-color:  #898b00

    &__loginbutton:hover
        background-color:#448b00

.nav
    &__categories
  
        color: #cccccc
        text-decoration: none
        padding: 6px 12px
        display: block
        background-color: #222
