.container-item
    background-color: grey
    display: flex
    width: 456px
    &__info
        display: flex
        flex-direction: column
        justify-content: space-between
        padding-left: 15px
    &__info h3 
        text-transform: uppercase
    &__image img
        max-width: 400px

    &__discounted
        color: #f47070    

    &__prices
        display: flex
        justify-content: space-between
    &__tocart
         display: inline-block

    &__tocart a 
        font-family: "Oswald",sans-serif
        font-weight: 400
        font-size: 10px
        color: #fff
        text-transform: uppercase
        background: #222222
        display: inline-block
        height: 30px
        text-decoration: none

    &__tocart a:hover
        background: #14cb14
        color: #222


