.container-item
    display: flex
    width: 400px
    margin: 5%
    &__info
        display: flex
        justify-content: space-between
        padding-left: 15px
    &__info h3 
        text-transform: uppercase
        text-align: center
    &__info img
        width: 50%
        height: auto
        margin-right: 1rem

    &__discounted
        color: #f47070    
    &__price
        font-size: 0.8rem
    &__prices
        display: flex
        justify-content: space-between
        margin: 4%

    &__tocart
         display: inline-block

    &__tocart a 
        font-family: "Oswald",sans-serif
        font-weight: 400
        font-size: 10px
        color: #fff
        text-transform: uppercase
        background: #222222
        display: inline-block
        height: 30px
        text-decoration: none
        margin-top: 6px

    &__buttonmore:hover
        background: #14cb14
        color: #222

    &__container-description
        display: flex
        flex-direction: column
        justify-content: center

    &__container-description p 
        font-size: 0.6rem
        padding: 0px 10px 0px 10px

    &__container-description h3
        margin-bottom: 3%
        color: #448b00
        font-weight: bold
            

    &__buttonmore
        font-family: "Oswald",sans-serif
        font-weight: 400
        font-size: 10px
        color: #fff
        text-transform: uppercase
        background: #222222
        display: inline-block
        height: 30px
        border: none
        width: 75px
        margin-right: 10px

    &__buttons
        display: flex   
        justify-content: space-around 
        padding-top: 5px