.page


    &__container
        display: inline-block
        background-color: inherit

    &--register
        background-image: url(../img/bikeregister.jpg)
        background-repeat: no-repeat
        background-size: cover
        background-position: top
        font-family: sans-serif
        height: 100vh
    
    &--login
        background-image: url('../img/bicycle.jpg')
        background-size: cover
        background-repeat: no-repeat
        background-position: top
        font-family: sans-serif
        height: 100vh

    &--home
        background-color: black
        border-color: black
        color: white