.body-search
    display: flex
    argin-right: auto
    margin-left: auto

.future-breadcramp
    text-align: center
    height: 10vh


.results-container
    padding-left: 70px    


    &__sponsor img
        height: 60vh
        width: 86%
        
    &__elements
        background-color: blue    
        width: 86%
.filters
    background-color: #eeeeee
    margin-left: 100px
    width: 300px



    