.body-search
    display: flex
    argin-right: auto
    margin-left: auto

.future-breadcramp
    text-align: center
    height: 10vh
    text-decoration: underline  

.results-container
    padding-left: 50px    
    width: 100%

    &__sponsor img
        height: 60vh
        width: 86%
        
    &__elements   
        width: 100%
        display: grid
        grid-template-columns: 1fr 1fr  
.filters
    background-color: #eeeeee
    margin-left: 100px
    width: 300px



    